<div class="container-fluid gray">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<h4>{{site.data.settings.client.about_headline}}</h4>
				<h5>{{site.data.settings.client.about_subheadline}}</h5>
			</div>
		</div>
		<div class="row">
				<!-- <div class="col-lg-3 col-sm-4 text-center">
					<div class="client-image-container">
						<img src="{{ site.baseurl }}{{ site.data.settings.images.client_headshot_path }}" alt="{{site.data.settings.client.company}}" class="client-image" />
					</div>
				</div> -->
				<div class="col-lg-6 col-sm-8 about-text">
					{{site.data.settings.client.about_markdown | markdownify }}
				</div>

				<!-- <div class="col-lg-3 ">
					<div class="contact-text-container">
						<p class="contact-text">
							<b>{{ site.data.settings.client.name }}</b><br />
							{% if site.data.settings.client.license_number != null %}
							{{ site.data.settings.client.license_number }}</br>
							{% endif %}
							{{ site.data.settings.client.brand }}<br />
							{% if site.data.settings.client.brokerage != null %}
							{{ site.data.settings.client.brokerage }}<br />
							{% endif %}
							{{ site.data.settings.client.address }}<br />
							{% if site.data.settings.client.phone2 != null %}
							{{ site.data.settings.client.phone_type }}: <a href="tel:1-{{ site.data.settings.client.phone }}">{{ site.data.settings.client.phone }}</a><br />
							{{ site.data.settings.client.phone2_type }}: <a href="tel:1-{{ site.data.settings.client.phone2 }}">{{ site.data.settings.client.phone2 }}</a><br />
							{% else %}
							<a href="tel:1-{{ site.data.settings.client.phone }}">{{ site.data.settings.client.phone }}</a><br />
							{% endif %}
							<a href="mailto:{{ site.data.settings.client.email }}" target="_blank">{{ site.data.settings.client.email }}</a><br />
							<a href="{{ site.baseurl }}{{ site.data.settings.client.url }}" target="_blank">{{ site.data.settings.client.url |
								remove: 'http://' | remove: 'https://' }}</a><br />
						</p>
					</div>
				</div> -->
	</div>
</div>
