<div class="author-container">
    <div class="image">
        <img src="{{ site.baseurl }}/img/{{ page.author.image }}" alt="{{ page.author.name }} profile image" />
    </div>

    <div class="author-info">
        {% if page.author.name_link != null %}
        <p class="name">By <a href="{{ page.author.name_link }}">{{ page.author.name }}</a></p>
        {% else %}
        <p class="name">By {{ page.author.name }}</p>
        {% endif %}

        <p class="bio">{{ page.author.bio }}</p>
    </div>


</div>