<div class="benefits-section">
  <div class="headline">
    <h4>A BETTER WAY TO SELL YOUR HOME</h4>
  </div>
  <div class="benefits">
    <div class="benefit end">
      <div class="new-checkmark">
        <img src="{{ site.baseurl }}/img/checkmark.svg" alt="Checkmark icon" />
      </div>
      <h5>Sell your home in 8 days or less</h5>
    </div>
    <div class="benefit">
      <div class="new-checkmark">
        <img src="{{ site.baseurl }}/img/checkmark.svg" alt="Checkmark icon" />
      </div>
      <h5>Net thousands more than selling traditionally</h5>
    </div>
    <div class="benefit end">
      <div class="new-checkmark">
        <img src="{{ site.baseurl }}/img/checkmark.svg" alt="Checkmark icon" />
      </div>
      <h5>Avoid weeks of inconvenient showings</h5>
    </div>
    <div class="benefit">
      <div class="new-checkmark">
        <img src="{{ site.baseurl }}/img/checkmark.svg" alt="Checkmark icon" />
      </div>
      <h5>Enter your address and get your price
      </h5>
    </div>
  </div>
</div>