<div class="benefits-section">
  <div class="headline">
    <h4>{{ site.data.settings.benefits_section.header }}</h4>
    <h5>{{ site.data.settings.benefits_section.subheader }}</h5>
  </div>
  <div class="benefits">
    <div class="benefit end">
      <div class="new-checkmark">
        <img src="{{ site.baseurl }}/img/{{ site.data.settings.benefits_section.icon_image }}" alt="Checkmark icon" />
      </div>
      <h5>{{ site.data.settings.benefits_section.benefit_1 }}</h5>
    </div>
    <div class="benefit">
      <div class="new-checkmark">
        <img src="{{ site.baseurl }}/img/{{ site.data.settings.benefits_section.icon_image }}" alt="Checkmark icon" />
      </div>
      <h5>{{ site.data.settings.benefits_section.benefit_2 }}</h5>
    </div>
    <div class="benefit end">
      <div class="new-checkmark">
        <img src="{{ site.baseurl }}/img/{{ site.data.settings.benefits_section.icon_image }}" alt="Checkmark icon" />
      </div>
      <h5>{{ site.data.settings.benefits_section.benefit_3 }}</h5>
    </div>
    <div class="benefit">
      <div class="new-checkmark">
        <img src="{{ site.baseurl }}/img/{{ site.data.settings.benefits_section.icon_image }}" alt="Checkmark icon" />
      </div>
      <h5>{{ site.data.settings.benefits_section.benefit_4 }}</h5>
    </div>
  </div>
</div>