<nav id="bottom-cta" class="bottom-cta">
  <div class="close-button" onclick="closeButtonNav()">x</div>
  <div class="bottom-cta-container">
    <a class="phone-container" href="{{ site.data.settings.client.phone }}">
      <p>CALL</p>
      <i class="fa fa-phone"></i>
    </a>
    <div class="cta-container">
      <a class="cta" href="{{ site.data.settings.bottom_mobile_cta.cta_1_link }}">
        <p>{{ site.data.settings.bottom_mobile_cta.cta_1_text }}</p>
      </a>
      <a class="cta" href="{{ site.data.settings.bottom_mobile_cta.cta_2_link }}">
        <p>{{ site.data.settings.bottom_mobile_cta.cta_2_text }}</p>
      </a>
    </div>
  </div>
</nav>