<footer class="container-fluid footer">
	<div class="footer-container">

		<div class="links-container">

			<div class="link">
				<a href="/" aria-label="Home">
					<p>Home</p>
				</a>
			</div>

			{% if site.data.settings.hero.show_footer_link %}
			<div class="link">
				<a href="{{ site.data.settings.hero.button_link }}" aria-label="{{ site.data.settings.hero.button_text }}">
					<p>{{ site.data.settings.hero.button_text }}</p>
				</a>
			</div>
			{% endif %}

			{% for item in site.data.settings.sidebar_CTAs %}
				{% if item.show_footer_link %}
				<div class="link">
					<a href="{{ site.baseurl }}{{ item.url}}" aria-label="{{ item.title }}">
						<p>{{ item.title}}</p>
					</a>
				</div>
				{% endif %}
			{% endfor %}

			{% for item in site.data.settings.CTAS %}
				{% if item.show_footer_link %}
				<div class="link">
					<a href="{{ site.baseurl }}{{ item.url}}" aria-label="{{ item.title }}">
						<p>{{ item.title}}</p>
					</a>
				</div>
				{% endif %}
			{% endfor %}

		</div>

		<div class="access-container">
			<p>We are committed to ensuring digital accessibility for those with disabilities. We are always working to
				improve
				the accessibility of our website for everyone, and we welcome feedback and accommodation requests. If
				you wish
				to
				report an issue or seek an accommodation, <a
					href="mailto:{{ data.settings.footer.contact_info.email }}" aria-label="Email">please
					let us know</a>.</p>
		</div>

		<div class="contact-container">
			<h4><strong>Want to talk to a person?</strong> Call us now at <a
					href="tel:1-{{ site.data.settings.client.phone }}" aria-label="Phone">{{ site.data.settings.client.phone }}</a> for a
				free, <span style="white-space: nowrap">no-obligation</span> consultation.</h4>
			<p>
				<b>{{ site.data.settings.client.brand }}</b> |
				{{ site.data.settings.client.address }} |
				{{ site.data.settings.client.city }}, {{ site.data.settings.client.state }} {{
				site.data.settings.client.zip }} |

				<a href="mailto:{{ site.data.settings.client.email }}" aria-label="Email">{{
					site.data.settings.client.email }}</a>
			</p>
		</div>

		<div class="logo">
			<img src="{{ site.baseurl }}{{ site.data.settings.images.hero_light_logo_path }}" alt="Company logo" />
		</div>

		<div class="socials-policy-container">

			<div class="socials">
				<p>Follow Us: </p>
				<div class="icons">
					{% for social in site.data.settings.footer.socials %}
					{% if social.url %}
					<a href="{{ social.url }}" aria-label="Link to {{ social.url }}">
						<img src="{{ site.baseurl }}{{ social.icon }}" alt="" width="35" height="35" loading="lazy" />
					</a>
					{% endif %}
					{% endfor %}
				</div>
			</div>
			<div class="policies">

				{% if site.data.settings.footer.custom_policies.privacy.enabled == true %}
				<div class="policy">
					<a href="{{ site.data.settings.footer.custom_policies.privacy.url }}" aria-label="{{ site.data.settings.footer.custom_policies.privacy.title }}">{{ site.data.settings.footer.custom_policies.privacy.title }}</a>
				</div>
				{% endif %}

				{% if site.data.settings.footer.custom_policies.privacy.enabled == true and site.data.settings.footer.custom_policies.terms.enabled == true %}
				|
				{% endif %}

				{% if site.data.settings.footer.custom_policies.terms.enabled == true %}
				<div class="policy">
					<a href="{{ site.data.settings.footer.custom_policies.terms.url }}" aria-label="{{ site.data.settings.footer.custom_policies.terms.title }}">{{ site.data.settings.footer.custom_policies.terms.title }}</a>
				</div>
				{% endif %}
				

				{% for policy in site.data.settings.footer.client_policies %}
				{% if policy.enabled == true %}
				<div class="policy">
					<a href="{{ policy.url }}" aria-label="{{ policy.title }}">{{ policy.title }}</a> {% unless forloop.last %}|{% endunless %}
				</div>
				{% endif %}
				{% endfor %}

			</div>

		</div>

		<div class="vyral-container">
			<p>Video Blog Website by <a href="https://www.getvyral.com" aria-label="Vyral Marketing">Vyral Marketing</a></p>
		</div>

	</div>
</footer>

<script src="https://kit.fontawesome.com/f26bb5781d.js" crossorigin="anonymous"></script>
<script>
	function toggleNav() {
		const sideNav = document.getElementById("mySidenav");
		const overlay = document.getElementById("myOverlay");

		sideNav.classList.toggle("open");
		overlay.classList.toggle("open");

		// When the user clicks anywhere outside of the modal, close nav
		window.onclick = function (event) {
			console.log('window clicked from: ' + event)
			if (event.target == overlay) {
				toggleNav();
			}
		}

	}

	function closeButtonNav() {
		const bottomCta = document.getElementById("bottom-cta");
		bottomCta.classList.toggle("closed");
	}
</script>
