<footer class="container-fluid footer">
	<div class="footer-container">

		<div class="links-container">

			<div class="link">
				<a href="/">
					<p>Home</p>
				</a>
			</div>
			
			{% for item in site.data.settings.CTAS %}
			<div class="link">
				<a href="{{ site.baseurl }}{{ item.url}}">
					<p>{{ item.title}}</p>
				</a>
			</div>
			{% endfor %}

		</div>

		<div class="access-container">
			<p>We are committed to ensuring digital accessibility for those with disabilities. We are always working to
				improve
				the accessibility of our website for everyone, and we welcome feedback and accommodation requests. If
				you wish
				to
				report an issue or seek an accommodation, <a
					href="mailto:{{ data.settings.footer.contact_info.email }}">please
					let us know</a>.</p>
		</div>

		<div class="contact-container">
			<h4><strong>Want to talk to a person?</strong> Call us now at  <a href="tel:1-{{ site.data.settings.client.phone }}">{{ site.data.settings.client.phone }}</a> for a free, no-obligation consultation.</h4>
			<p>
				<b>{{ site.data.settings.client.brand }}</b> |
				{{ site.data.settings.client.address }} |
				{{ site.data.settings.client.city }}, {{ site.data.settings.client.state }} {{
				site.data.settings.client.zip }} |
				
				<a href="mailto:{{ site.data.settings.client.email }}">{{
					site.data.settings.client.email }}</a>
			</p>
		</div>

		<div class="logo">
			<img src="{{ site.baseurl }}{{ site.data.settings.images.hero_light_logo_path }}"
				alt="Company logo" />
		</div>

		<div class="socials-policy-container">
			
			<div class="socials">
				<p>Follow Us: </p>
				<div class="icons">
					{% for social in site.data.settings.footer.socials %}
					<a href="{{ social.url }}" target="_blank">
						<img src="{{ site.baseurl }}{{ social.icon }}" alt="" />
					</a>
					{% endfor %}
				</div>
			</div>
			<div class="policies">
				{% for policy in site.data.settings.footer.policies %}
				<div class="policy">
					<a href="{{ policy.url }}">{{ policy.title }}</a> {% unless forloop.last %}|{% endunless %}
				</div>
				{% endfor %}

			</div>

		</div>

		<div class="vyral-container">
			<p>Video Blog Website by <a href="https://www.getvyral.com">Vyral Marketing</a></p>
		</div>

	</div>
</footer>

<!-- </footer> -->
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://use.fontawesome.com/3958139b47.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/script.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/media-player.js"></script>

<script>
	function toggleNav() {
		const sideNav = document.getElementById("mySidenav");
		const overlay = document.getElementById("myOverlay");
		
		sideNav.classList.toggle("open");
		overlay.classList.toggle("open");

		// When the user clicks anywhere outside of the modal, close nav
		window.onclick = function (event) {
			console.log('window clicked from: ' + event)
			if (event.target == overlay) {
				toggleNav();
			}
		}

	}

	function closeButtonNav() {
		const bottomCta = document.getElementById("bottom-cta");
		bottomCta.classList.toggle("closed");
	}
</script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-540b4f895446da9a"></script>