<header id="hero">
  <div class="hero-img"
    style="background-image: {% if site.data.settings.hero.use_overlay %} linear-gradient(rgba(0, 0, 0, {{site.data.settings.hero.overlay-intensity}}), rgba(0, 0, 0, {{site.data.settings.hero.overlay-intensity}})), {% endif %} url({{ site.baseurl }}{{site.data.settings.hero.hero_image}})">
    <div class="hero-text">
      <h1>{{ site.data.settings.hero.header }}</h1>
      <p>{{ site.data.settings.hero.subheader }}</p>
      {% include cta-button.html %}
    </div>
  </div>
  <div class="row">
    {% include reviews.html %}
  </div>
</header>



