<nav role="navigation" class="navbar navbar-fixed-top navbar-andross">
	<div class="navbar-header">
		<a href="{{ site.baseurl }}/" class="navbar-brand visible-xs" data-target="#navbarCollapse"
			data-toggle="collapse">
			<img src="{{ site.baseurl }}{{ site.data.settings.images.hero_light_logo_path }}"
				class="nav-logo-small"></a>
		<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle"
			onclick="toggleNav()">
			<span class="sr-only">Toggle navigation</span>
			<i class="fa fa-bars fa-2x" style="color: white;"></i>
		</button>
	</div>

	<a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}{{ site.data.settings.images.hero_light_logo_path }}"
			class="nav-logo"></a>

	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="close-button" onclick="toggleNav()">&times;</a>

		<div class="sidenav-logo">
			<a href="/">
				<img src="{{ site.baseurl }}{{ site.data.settings.images.hero_light_logo_path }}">
			</a>
		</div>

		<div class="call-button">
			<a href="tel:{{site.data.settings.client.phone}}">
				<!-- <img src="{{ site.baseurl }}/img/phone.svg" alt="Phone icon" /> -->
				<i class="fa fa-phone"></i>
				{{ site.data.settings.client.phone }}
			</a>
		</div>
		<a href="{{ site.baseurl }}/">Home</a>

		{% for item in site.data.settings.CTAS %}
		<a href="{{ site.baseurl }}{{ item.url}}" target="_blank">{{ item.title}}</a>
		{% endfor %}

		<div class="sidenav-contact-container">

			<a class="ellipsis" href="mailto:{{site.data.settings.client.email}}">
				<!-- <img src="{{ site.baseurl }}/img/envelope.svg" alt="Email icon" /> -->
				{{ site.data.settings.client.email }}
			</a>
		</div>

	</div>
	<div id="myOverlay" class="nav-overlay"></div>


	{% if site.data.settings.nav_USP_statement.text %}

	<div class="nav-usp">
		{{ site.data.settings.nav_USP_statement.text }}
	</div>
	<div class="nav-phone">
		<a href="tel:{{site.data.settings.client.phone}}">
			<i class="fa fa-phone"></i>
			{{ site.data.settings.client.phone }}
		</a>
	</div>

	{% endif %}
</nav>