<!-- </footer> -->
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>

<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

<script type="text/javascript" src="https://use.fontawesome.com/3958139b47.js"></script>
<!-- <script type="text/javascript" src="{{ site.baseurl }}/js/script.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/media-player.js"></script> -->

<script>
	// function openNav() {
	// 	// document.getElementById("mySidenav").style.width = "500px";
	// 	const sideNav = document.getElementById("mySidenav");
	// 	debugger;
	// }

	// function closeNav() {
	// 	document.getElementById("mySidenav").style.width = "0";
	// }

	function toggleNav() {
		const sideNav = document.getElementById("mySidenav");
		const overlay = document.getElementById("myOverlay");

		sideNav.classList.toggle("open");
		overlay.classList.toggle("open");
		// console.log(sideNav.classList)

		// When the user clicks anywhere outside of the modal, close nav
		window.onclick = function (event) {
			console.log('window clicked from: ' + event)
			if (event.target == overlay) {
				toggleNav();
			}
		}

	}


</script>