{% if site.data.settings.testimonials.enabled %}

<div class="testimonials-container-new">
	<div class="testimonials-header">
		<h2>{{ site.data.settings.testimonials.header_text }}</h2>
	</div>

	{% for item in site.data.settings.testimonials.quotes %}
	{% assign loopindex = forloop.index | modulo: 2 %}

	{% if loopindex == 1 %}
	<div class="client-container off-color">
		<div class="client-testimonial">
			{% else %}
			<div class="client-container">
				<div class="client-testimonial flipped">
					{% endif %}

					<div class="image-container">
						<a href="{{ item.image_link }}" aria-label="Client testimonial link"><img src="{{ site.baseurl }}{{ item.image }}" alt="" /></a>
					</div>
					<div class="quote">
						{{ item.markdown_quote | markdownify }}
						<p class="name">- {{ item.name }}</p>
					</div>
				</div>
			</div>
			{% endfor %}

			<div class="cta-button-container">
				{% include cta-button.html %}
			</div>

		</div>

{% endif %}