.client-image-container
	border-radius: 50%
	// width: 200px
	// height: 200px
	border: 3px solid $brand
	// margin: 10px auto 0 6rem
	overflow: hidden
	display: inline-block
	// margin: auto
	margin: 10px 0 20px
	width: 200px
	height: 200px
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px

.client-image
	max-width: 200px

.about-text
	display: flex
	flex-direction: column
	margin-bottom: 15px
	p
		font-size: 26px
		line-height: 1.4
		vertical-align: middle
		margin: 0 0 25px
		padding: 0 10px 0 0

.about-section
	div
		div
			h4
				font-size: 56px
				font-weight: bold
				text-align: center
				margin: 25px 0 -8px
			h5
				font-size: 38px
				font-weight: normal
				text-align: center
				margin: 0 0 40px

.contact-text
	margin: auto
	margin-bottom: 25px

.contact-text-container
	width: 100%
	text-align: left

@media only screen and (max-width : 1200px)
	.contact-text-container
		text-align: center

@media only screen and (max-width : 768px)
	.about-text
		margin-bottom: 0

	.gray
		background: #ededed
		div
			div
				h4
					font-size: 30px
					font-weight: bold
					text-align: center
					margin: 25px 0 0
				h5
					font-size: 20px
					font-weight: normal
					text-align: center
					margin: 5px 0 5px

@media(max-width: 480px)
	

	.about-text
		display: flex
		flex-direction: column
		p
			vertical-align: middle
