.post-content
    .cta-box
        font-family: $bodyfont
        margin: 0 0 25px 0
        padding: 17px
        border: 1px solid #c6c6c6

        p
            display: inline
            padding: 0
            margin: 0
            font-size: 16px
            font-weight: 300
            line-height: 24px
        
        .cta
            font-weight: 600
            text-decoration: underline
            background-color: transparent

        .cta:hover
            background-color: initial
            text-decoration: none
