.post-content
    .cta-content-box
        font-family: $bodyfont
        margin: 40px 0 40px 0
        padding: 17px
        border: 1px solid #c6c6c6

        ul
            padding: 0
            margin: 7px 0 0 19px

            li 
                list-style-position: outside
                padding: 5px 0 0 1px
                margin: 0

        p
            padding: 0
            margin: 0
            font-size: 16px
            font-weight: 300
            line-height: 25px
        
        .cta
            font-weight: 600
