.cta-box
    font-family: $bodyfont
    display: flex
    margin: 0 0 25px 0
    padding: 14px
    border: 1px solid #c6c6c6
    line-height: 24px

    p
        padding: 0
        margin: 0
        font-size: 18px
        font-weight: 300
        line-height: 1.3
