footer
	position: relative
	background: $brand
	color: $footer-font-color

	&.footer
		margin-top: 5rem

		&::before
			background: inherit
			bottom: 0
			content: ""
			display: block
			height: 100%
			left: 0
			position: absolute
			right: 0
			transform: skewY(1.5deg)
			transform-origin: 100%
			z-index: -1

	&.container-fluid
		padding: 0 2.5rem 5rem

	a, p
		color: $footer-font-color
		font-size: 1.5rem

	.links-container
		display: flex
		flex-wrap: wrap
		justify-content: center
		margin: 0 auto
		padding: 3.5rem 0 2.5rem

		a
			color: $footer-font-color
			text-decoration: underline

			&:hover
				color: $footer-font-color
				text-decoration: none

			p
				margin: 0
				padding: 0

		.link
			margin: 0.5rem 1.2rem

	.access-container
		text-align: center
		margin-bottom: 3.1rem

		a
			color: $footer-font-color
			text-decoration: underline

			&:hover
				color: $footer-font-color
				text-decoration: none

		p
			max-width: 90rem
			margin: 0 auto

	.contact-container
		text-align: center
		margin: 0 auto 2.8rem

		h4, h4 > a
			margin: 3rem auto
			font-size: 2rem
			font-weight: 300
			max-width: 60rem
			line-height: 1.5

		a
			color: $footer-font-color
			text-decoration: none

			&:hover
				color: $footer-font-color
				text-decoration: underline

	.logo
		width: 100%
		display: flex
		align-items: center
		justify-content: center
		margin-bottom: 2.5rem

		img
			width: $footer-logo-width
			height: auto

	.socials-policy-container
		display: flex
		flex-wrap: wrap
		justify-content: center
		gap: 2rem
		margin: 0 auto

		a
			color: $footer-font-color
			text-decoration: underline

			&:hover
				color: $footer-font-color
				text-decoration: none

		

		.socials
			display: flex
			align-items: center
			margin: 1.5rem 0 0
			padding: 0

			p
				margin: 0 2.5rem 0 0.5rem
				padding: 0

			.icons
				display: flex
				gap: 0.5rem

				img
					width: 3.5rem

		.policies
			display: flex
			flex-wrap: wrap
			align-items: center
			margin-top: 1.1rem

			a
				margin: 0 0.7rem

	.vyral-container
		text-align: center
		margin: 2.5rem auto 0

		a
			color: $footer-font-color
			text-decoration: underline

			&:hover
				color: $footer-font-color
				text-decoration: none

@media (max-width: 480px)
	footer
		&.container-fluid
			padding: 0 2.5rem 42vw

		&.footer
			margin-top: 5rem

			&::before
				transform: skewY(2deg)

		.access-container
			padding: 0 1rem

		.policies
			justify-content: center
