footer
	background: $brand
	color: #fff

	&.container-fluid
		padding: 0 25px 100px

	a, p
		color: #fff
		font-size: 15px

	.links-container
		display: flex
		flex-wrap: wrap
		justify-content: center
		gap: 2rem
		margin: 55px auto 16px

		a
			color: #fff
			text-decoration: underline

			&:hover
				color: #fff
				text-decoration: none

	.access-container
		text-align: center
		margin-bottom: 31px

		a
			color: #fff
			text-decoration: underline

			&:hover
				color: #fff
				text-decoration: none

		p
			max-width: 900px
			margin: 0 auto

	.contact-container
		text-align: center
		margin: 0 auto 28px

		h4, h4 > a
			margin: 3rem auto
			font-size: 26px
			font-weight: 300
			max-width: 500px
			line-height: 1.5

		a
			color: #fff
			text-decoration: none

			&:hover
				color: #fff
				text-decoration: underline

	.socials-policy-container
		display: flex
		flex-wrap: wrap
		justify-content: center
		gap: 2rem
		margin: 0 auto

		a
			color: #fff
			text-decoration: underline

			&:hover
				color: #fff
				text-decoration: none

		.logo
			width: 250px

			img
				width: 100%

		.socials
			display: flex
			align-items: center
			margin: 15px 0 0
			padding: 0

			p 
				margin: 0 25px 0 5px
				padding: 0

			.icons
				display: flex
				gap: 5px

				img
					width: 30px

		.policies
			display: flex
			flex-wrap: wrap
			align-items: center
			margin-top: 11px

			a
				margin: 0 7px


@media (max-width: 480px)
	footer
		&.container-fluid
			padding: 0 25px 130px

		.links-container
			column-gap: 20px
			row-gap: 1px

		.access-container
			padding: 0 10px

		.policies
			justify-content: center