.testimonials-container-new
	display: flex
	flex-direction: column
	align-items: center
	padding: 0

	.testimonials-header, .gray
		background-color: #f2f2f2
		width: 100%

	.client-container
		width: 100%
		display: flex
		justify-content: center
		padding: 50px 0

	h2
		font-size: 46px
		font-weight: bold
		margin: 35px auto 0
		text-align: center

	.client-testimonial
		display: flex
		width: 1000px

	.flipped
		flex-direction: row-reverse

	.image-container
		width: 50%
		padding: 0 15px

	img
		width: 100%
		border: 8px solid white
		box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px

	.quote 
		display: flex 
		flex-direction: column
		justify-content: center
		width: 50%
		padding: 0
		padding: 0 15px
			
	h3
		margin: 0
		padding: 0
		font-size: 26px
		font-weight: normal
		line-height: 1.2
		letter-spacing: 0

	.name
		padding-top: 10px
		font-size: 22px
		font-weight: 300
	
	p 
		padding: 0
		margin: 0

	.cta-button-container
		margin: 40px 0 32px

@media (max-width: 768px)
	.testimonials-container-new
		.client-testimonial
			flex-direction: column
			align-items: center
			width: 100%

		.client-container
			padding: 40px 0 25px

		.image-container	
			width: 70%

		.quote
			width: 100%
		
		.name
			font-size: 18px
			padding-top: 10px

		h2
			font-size: 42px
			font-weight: bold
			margin: 20px auto 0
			text-align: center

		h3
			padding-top: 25px
			font-size: 22px

@media (max-width: 480px)
	.testimonials-container-new
		.image-container	
			width: 100%