.testimonials-container-new
	display: flex
	flex-direction: column
	align-items: center
	padding: 0
	color: $testimonials_font_color


	.testimonials-header, .gray
		background-color: #f2f2f2
		width: 100%

	.client-container
		width: 100%
		display: flex
		justify-content: center
		padding: 5rem 0

	h2
		font-size: 4.2rem
		font-weight: bold
		margin: 3.5rem auto 0
		text-align: center

	.client-testimonial
		display: flex
		width: 100rem

	.flipped
		flex-direction: row-reverse

	.image-container
		width: 50%
		padding: 0 1.5rem

	img
		width: 100%
		border: 0.8rem solid white
		box-shadow: rgba(0, 0, 0, 0.16) 0rem 0.1rem 0.4rem
		object-fit: cover
		aspect-ratio: 16 / 9

	.quote 
		display: flex 
		flex-direction: column
		justify-content: center
		width: 50%
		padding: 0
		padding: 0 2rem
			
	h3
		margin: 0
		padding: 0
		font-size: 2.2rem
		font-weight: 300
		line-height: 1.2
		letter-spacing: 0

	.name
		padding-top: 1rem
		font-size: 2rem
		font-weight: 300
	
	p 
		padding: 0
		margin: 0

	.cta-button-container
		margin: 6.7rem 0 3.2rem

@media (max-width: 768px)
	.testimonials-container-new
		.client-testimonial
			flex-direction: column
			align-items: center
			width: 100%

		.client-container
			padding: 4rem 0 2.5rem

		.image-container	
			width: 100%

		.quote
			width: 100%
		
		.name
			font-size: 1.8rem
			padding-top: 1rem

		h2
			font-size: 2.8rem
			font-weight: 500
			margin: 3.6rem auto 0
			text-align: center

		h3
			padding-top: 2.5rem
			font-size: 2.2rem

@media (max-width: 480px)
	.testimonials-container-new
		.image-container	
			width: 100%